assertpy==1.1
behave==1.2.6
faker==4.0.3
pychromedriver==118.0
pygeckodriver==0.31.0
reportportal-behave-client==1.0.3
requests
selenium
sqlalchemy
mss==6.1.0
allure-behave==2.10.0
reportportal_client==5.0.0